@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p>Pelajari tentang <a href="https://docs.microsoft.com/aspnet/core">membangun aplikasi Web dengan ASP.NET Core</a>.</p>
</div>
